<div class="row">
  <div class="col s12" id="infoinfo">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle green">grade</i>
        <span class="title">Id</span>
        <p><%= id %></p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">polymer</i>
        <span class="title">State</span>
        <p><%= state %></p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">query_builder</i>
        <span class="title">Parking/Free Time(min)</span>
        <p><%= diff %></p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle blue">query_builder</i>
        <span class="title">Enter/Leave time</span>
        <p><%= lasttime %></p>
      </li>
    </ul>
    <a class="waves-effect waves-light btn" id="streetview">Street View</a>
    <a class="waves-effect waves-light btn" id="closebut">Close</a>
  </div>
</div>