<div class="row">
  <div class="col s12" id="infoinfo">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle green">grade</i>
        <span class="title">車位編碼</span>
        <p><%= id %></p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">polymer</i>
        <span class="title">尚有空位/車位已滿</span>
        <p><%= state %></p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">query_builder</i>
        <span class="title">累積時間</span>
        <p><%= diff %></p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle blue">query_builder</i>
        <span class="title">停入時間</span>
        <p><%= lasttime %></p>
      </li>
    </ul>
    <a class="waves-effect waves-light btn" id="streetview">街景模式</a>
    <a class="waves-effect waves-light btn" id="closebut">關閉</a>
  </div>
</div>